<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ExePath" value="E:\Semester 8\IPT\IPT Assignment # 02\K180303_Q1\k180303_Assignment2\bin\Debug\netcoreapp3.1\k180303_Assignment2.exe"/>
		<add key="LogDirectory" value= "C:\Assignment 2 Logs"/>
	</appSettings>
</configuration>